<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Add a brand</h2>
<a href="/admin/brands" class="btn btn-primary">Back to all brands</a>
<br><br>

<form method="post" action="/admin/brands/add-brand">
    
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" value="<%= name %>" placeholder="Name">
    </div>
    
    <button class="btn btn-primary">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>