<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Add a promotion</h2>
<a href="/admin/promotions" class="btn btn-primary">Back to all promotions</a>
<br><br>

<form method="post" action="/admin/promotions/add" enctype="multipart/form-data">
   
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </div>
    
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="description" class="form-control" id="ta" cols="30" rows="10" placeholder="Description"><%= description %></textarea>
    </div>
    
    <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>