<%- include('../_layouts/adminheader') %>
    <!-- Main component call to action -->

    <h1>Error</h1>

    <p>There was an error: <%=error %></p>

    
    <%- include('../_layouts/adminfooter') %>