<% include _layouts/header %>

<% if (count > 0) { %>
    <% include brand-products-component %>
<% } else {%>
    <p>There are no products availabe for the brand.</p>
    <% }%>
    
    <% include _layouts/footer %>