<h4 class="red">Our Exclusive Brands</h4>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>   
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">      
      <div class="row">
        <div class="col-sm-3"><a href="/products/jelly-belly"><img src="/images/brands/jelly-belly.png" alt="Jelly Belly"></a></div>
        <div class="col-sm-3"><a href="/products/nerds"><img src="/images/brands/nerds.png" alt="Nerds"></a></div>
        <div class="col-sm-3"><a href="/products/m&m"><img src="/images/brands/m-and-m.jpg" alt="M&M"></a></div>
        <div class="col-sm-3"><a href="/products/jolly-rancher"><img src="/images/brands/jolly-rancher.jpg" alt="Jolly Rancher"></a></div>
      </div>

      <div class="row">
        <div class="col-sm-3"><a href="/products/warheads"><img src="/images/brands/warheads.jpg" alt="Warheads"></a></div>
        <div class="col-sm-3"><a href="/products/twizzlers"><img src="/images/brands/twizzlers.png" alt="Twizzlers"></a></div>
        <div class="col-sm-3"><a href="/products/airheads"><img src="/images/brands/airheads.jpg" alt="Airheads"></a></div>
        <div class="col-sm-3"><a href="/products/cowtales"><img src="/images/brands/cowtales.png" alt="Cow Tales"></a></div>
      </div>

       <div class="row">
        <div class="col-sm-3"><a href="/products/ferrara"><img src="/images/brands/ferrara.png" alt="Ferrara"></a></div>
        <div class="col-sm-3"><a href="/products/ice-breakers"><img src="/images/brands/ice-breakers.png" alt="Ice Breakers"></a></div>
        <div class="col-sm-3"><a href="/products/laffy-taffy"><img src="/images/brands/laffy-taffy.png" alt="Laffy Taffy"></a></div>
        <div class="col-sm-3"><a href="/products/mike-&-ike"><img src="/images/brands/mike-and-ike.png" alt="Mike & Ike"></a></div>
      </div>
    </div>    

    <div class="item">
      <div class="row">
        <div class="col-sm-3"><a href="/products/pop-rocks"><img src="/images/brands/pop-rocks.png" alt="Pop Rocks"></a></div>
        <div class="col-sm-3"><a href="/products/sour-patch"><img src="/images/brands/sour-patch.png" alt="Sour Patch"></a></div>
        <div class="col-sm-3"><a href="/products/swedish-fish"><img src="/images/brands/swedish-fish.png" alt="Swedish Fish"></a></div>
        <div class="col-sm-3"><a href="/products/hershey"><img src="/images/brands/hershey.png" alt="Hershey"></a></div>
      </div>

      <div class="row">
        <div class="col-sm-3"><a href="/products/pretzel"><img src="/images/brands/pretzel.png" alt="Pretzel"></a></div>
        <div class="col-sm-3"><a href="/products/snikers"><img src="/images/brands/snikers.png" alt="Snickers"></a></div>
        <div class="col-sm-3"><a href="/products/american-cakes-&-biscuits"><img src="/images/brands/american-biscuits-cakes.png" alt="American Biscuits & Cakes"</a></div>
        <div class="col-sm-3"><a href="/products/american-soda"><img src="/images/brands/american-soda.jpg" alt="American Soda"></a></div>
      </div>

       <div class="row" style="height:100px">        
        <div class="col-sm-3"><a href="/products/others"><img src="/images/brands/more-brands.png" alt="More Brands"></a></div>
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-3">&nbsp;</div>                
      </div>
    </div>
    

  <!-- Left and right controls -->  
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>  
</div>