<% include _layouts/header %>

<% if(title == 'Home') { %>
  <div>
    <% include carousel %>
  </div>
<%}%>
  <br />
<%- content %>
<hr />

<% if(title == 'Home') { %>
  <% include brand-products-component %>
<%}%>

<% include _layouts/footer %>