
<% include _layouts/header %>

    <!-- Main component call to action -->
    <div class="container main-container headerOffset">
        <div class="row">

            <!--left column-->

            <div class="col-lg-3 col-md-3 col-sm-12">
                <% include _layouts/sitenav.ejs %>
            </div>
            
            <!--right column-->
            <div class="col-lg-9 col-md-9 col-sm-12"></div>
                <h1><%= title %></h1>
                
                <p>Your order has been received and we will send you a comfirmation email shortly.</p>
                                
            </div>
            <!--/right column end-->
        </div>
        <!-- /.row  -->
    </div>
    <!-- /main container -->
  
<% include _layouts/footer %>


